body {
  font-family: 'Share Tech Mono', monospace;
  background-color: #f0e8d8;
}

.card-title {
  display: inline-block !important;
  margin-bottom: 20px !important;
}

ul {
  font-size: 15px;
}

ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "- ";
  text-indent: -10px;
}